{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/vendor/bootstrap/dist/bootstrap.js') }}"></script>
{% endblock %}
{% block body %}

<div class="example-wrapper">

</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/vendor/angular/angular.js') }}"></script>
{% endblock %}